@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

*{
    text-decoration: none;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: "Audiowide", cursive;
    background-color: #1f1f1f;
    text-align: center;
    color: #B0BFBC;
    ;
  }
  
  
  
  header{
    background-color: #1f1f1f;
    width: 100%;
    height: 100%;
  }
  
  header .header-home{
    /* font-size: 24px;
    font-weight: 900; */
    color:#B0BFBC;
    text-transform: uppercase;
    line-height: 38px;
    display: block;
    margin: 31px 0;
    text-align: left;
    padding: 0 10px 0 10px;
    border-right: 3px solid #383737;
    float: left;
  }

  .header-gallery{
    font-size: 23px;
    font-weight: 900;
    color:#B0BFBC;
    text-transform: uppercase;
  }
  
  a:hover, a:active {
    color: #B80C09;
  }
  
  header nav ul{
    display: block;
    margin: 20px 0px 0px 0px;
    width: fit-content;
    float: left;
    padding: 0;
  }
  
  header nav ul li{
    /* display: inline-block; */
    float: left;
    list-style: none;
    padding: 0px 16px;
  }
  
  header nav ul li a{
    font-size: 16px;
    color: #B0BFBC;
    text-transform: uppercase;
    line-height: 60px;
  }

  .imgGrid{
    padding-top: 100px;
    margin: 0;
    display: grid;
    justify-content: center;
  }